@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/itm.png" alt="ITM Logo" style="width: 150px; margin-bottom: 20px;" />
    
    <h1 class="display-4">EasyDevOps</h1>
    <p>Welkom bij de vernieuwde ITM beheerportal.</p>
</div>